---
import "../styles/global.css";
import { ui } from "../i18n/ui.js";

const locale = (Astro.locals.lang as "en" | "fr") ?? "en";
console.log("Locale in index:", locale);
---

<!doctype html>
<html lang="en" data-theme="light" class="h-full">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Basics</title>
	</head>
	<body class="h-full">
		<div class="h-full flex flex-col min-h-0">
			<header
				class="flex items-center justify-between p-4 bg-purple-200 border-b"
			>
				<h1 class="text-lg font-semibold">Menu</h1>
				<nav class="flex items-center space-x-4">
					<form method="POST" action={Astro.url.pathname} class="m-0">
						<select
							name="language"
							class="select"
							onchange="this.form.submit()"
						>
							<option disabled selected="true">
								{ui[locale].nav.language}
							</option>
							<option value="en">English</option>
							<option value="fr">Français</option>
						</select>
					</form>
					<form method="POST" action="/api/logout" class="mx-5">
						<button type="submit" class="btn btn-primary"
							>Logout</button
						>
					</form>

					<a href="/signup" class="btn btn-secondary">
						Sign Up
					</a>
				</nav>
			</header>

			<div class="flex-1 min-h-0">
				<slot />
			</div>
		</div>
	</body>
</html>
